<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Upload new File</title>
</head>
<body>
    <h1>Upload new File</h1>

    <form method="post" enctype="multipart/form-data">
        <input id="file" type="file" name="file" style="display: none;">
        <label for="file" class="button">Choose File</label>
        <span id="filename" style="margin-left:1em;">No file chosen</span>
        <br><br>
        <input type="text" name="name" placeholder="Enter your name">
        <input class="button" type="submit" value="Upload">
    </form>

    <script>
        const fileInput = document.getElementById('file');
        const fileNameSpan = document.getElementById('filename');

        fileInput.addEventListener('change', () => {
            const chosenFile = fileInput.files[0]?.name || 'No file chosen';
            fileNameSpan.textContent = chosenFile;
        });
    </script>
    <h1> </h1>
    <footer>Version: 1.2.0-development</footer>
</body>
</html>